<h1>iteming items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% if @items.present? %>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= link_to 'Show', list_item_path(@list, item) %></td>
          <td><%= link_to 'Edit', edit_list_item_path(@list, item) %></td>
          <td><%= link_to 'Destroy', list_item_path(@list, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  <% end -%>
</table>

<br>

<%= link_to 'New item', new_list_item_path %>
